#menu {
    margin-top: 0 !important;
  }
  
  a {
    font-family : Century Gothic, "Trebuchet MS", Tahoma, Verdana;
    color : rgb(206, 238, 206); 
    text-align: center;
    font-size : 100%;
    padding : 40px 20px 40px 20px;
    letter-spacing : -1px;
  }