<section class="menu">

  <h4>
    Gérez vos missions
  </h4>

  <br>

  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark grey scrolling-navbar ie-nav" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" routerLink="/accueil"><img class="img-fluid" src="/assets/image/logov3.png"
          img-thumbnail></a>
    </mdb-navbar-brand>

    <links class="text-center">
      <ul class="navbar-nav mr-auto col-9 ">
        <li class="nav-item waves-light " mdbWavesEffect>
          <a class="nav-link" routerLink="/accueil">Accueil</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/gestion">Gestion des missions</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/planning">Planning des missions</a>
        </li>
        <li class="nav-item waves-light col-1.5 " mdbWavesEffect>
          <a class="nav-link" routerLink="/primes">Primes</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/notesdefrais">Saisie des notes de frais</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/validation" *ngIf="isManager()">Validation des missions</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/naturemissions" *ngIf="isAdmin()">Nature des missions</a>
        </li>

      </ul>

      <div class="nav-item-right col-3">
        <div class="jumbotron">
          <h6>

            <div *ngIf="(collegue|async).roles == 'ROLE_ADMINISTRATEUR,ROLE_UTILISATEUR'"> Connecté(e) en tant <br>
              qu'administrateur.</div>
            <div *ngIf="(collegue|async).roles == 'ROLE_UTILISATEUR'"> Connecté(e) en
              tant qu'utilisateur.</div>
            <div *ngIf="(collegue|async).roles == 'ROLE_MANAGER'"> Connecté(e) en tant
              que manager.</div>

          </h6>
          <a class="btn btn-danger" (click)="seDeconnecter()">Deconnexion</a>



        </div>
      </div>


    </links>

  </mdb-navbar>



</section>