
   h6{
    padding: 10px;
    opacity: 1;
    font-style:  bold;
    color: black;
  }
  
  mdb-navbar-brand{
    margin-right: 200px;
  }
  
.jumbotron {
  font-family : Century Gothic, "Trebuchet MS", Tahoma, Verdana;
  position: relative; 
  text-align:center;
  margin:20px auto;
  background-color:#bbff9c;
  opacity: 0.57;
  max-width:100%;
  padding : 0px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px black;
}
.btn{
  margin: auto;
  width: 100px;
  height:20px;
  padding: 0px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 5px 2px 2px black;
}
li{
  font-size: 120%;
}