<div class="container">


  <!--  En-tête -->
  <h3>Récapitulatif des primes</h3>
  <p>
    Vous trouverez dans cette section le récapitulatif de vos rémunérations.
  </p>

  <!--  Tableau Excel à télécharger -->
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/image/primes.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa fa-lg fa-download"></i> Primes</h5>
          <p class="card-text">Téléchargez le récapitulatif de vos primes au format .xlsx</p>
          <div class="row">
            <img src="/assets/image/excel.png" style="align-content: center" width="20%" height="20%">
            <button class="btn btn-outline-success" (click)="primesToExcel()" mdbBtn>Téléchargement</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col-2"></div>


    <div class="col-6">
      <!--  Tableau des primes -->

      <div class="mt-4">
      </div>

      <section class="tableaunotedefrais">

        <table class="table table-sm table-bordered table-hover">
          <thead>
            <tr class="table-success">
              <th scope="col">Date de début</th>
              <th scope="col">Date de fin</th>
              <th scope="col">Nature</th>
              <th scope="col">Prime</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let prime of missionsTab">
              <td>{{prime.dateDebut}}</td>
              <td>{{prime.dateFin}}</td>
              <td>{{prime.natureMission.name}}</td>
              <td>{{prime.prime}}</td>
            </tr>
          </tbody>
        </table>

        <div class="erreur" *ngIf="err">
          {{err}}
        </div>

      </section>
    </div>
  </div>




</div>