
 <div class="container">
 
 <header>
    <!--  Bandeau avec le titre de l'application + le menu -->
   <app-bandeau></app-bandeau>      
</header> 


<!--  En-tête -->
<h3>Récapitulatif des primes</h3>
<p>
    Vous trouverez dans cette section le récapitulatif de vos remboursements de frais de déplacements et de missions.
</p>

<!--  Tableau Excel à télécharger -->
<div class ="row">
        <div class="col-4">
<object type="application/vnd.ms-excel"
        data="data/TestPrimes.xls" width="300" height="200">
       <h6>Télécharger le fichier au format .xls</h6><a href="/assets/tableur/TestPrimes.xls">Téléchargement</a>
</object>
</div>
</div>

<div class ="row">
<div class="col-6">
       <!-- Tableau des primes -->
              
        <div class="mt-4">
          </div>
        
          <section class="tableaunotedefrais">
        
          <table class="table table-sm table-bordered">
            <thead>
              <tr class="table-success">
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Nature</th>
                <th scope="col">Prime</th>
              </tr>
            </thead>
        
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        
          <div class="erreur" *ngIf="errMsg">
            {{errMsg}}
          </div>
       
        </section>
</div>
</div>

</div> 
        