
    // Mise en forme de la page principale

    // En-tête
    #header {
        height : 69px;
        }
    
        // Titre de type h1 dans le header
        h1 {
        font-family : Century Gothic, "Trebuchet MS", Tahoma, Verdana;
        color : rgb(78, 150, 87); 
        text-align: center;
        font-size : 320%;
        padding : 15px 50px 0 10px;
        letter-spacing : -1px;
        }
        

       #contenu {
        font-family : Century Gothic, "Trebuchet MS", Tahoma, Verdana;
        color : rgb(206, 238, 206); 
        text-align: center;
        font-size : 500%;
        padding : 15px 50px 0 10px;
        letter-spacing : -1px;
        position: relative;
        z-index: 10;
       }     

       // Mise en forme de l'image d'accueil
       #fond {
        background:url("/assets/image/imageaccueil - Copie.jpg") no-repeat center;
        opacity: 0.75;
        width:56.3%;
        height:80%;
        z-index: 1;
        position: absolute;
    }

        // Titre de type h2 dans le header
        #header h2 {
        padding : 33px 0 5px 40px;
        font-size : 100%;
        color : #ccc;
        font-weight : normal;
        margin : 0 0 0 270px;
        border-right : 1px solid #eee;
        }
    
        // Corps de la page
        body {
        background-color : rgb(92, 92, 92);
        background-position : top;
        background-repeat : none;
        font-family : Verdana, Arial, Helvetica, sans-serif;
        font-size : 75%;
        color : #777;
        margin : 0;
            }
    
    
        #content h1 {
        font-family : "Trebuchet MS", Tahoma, Verdana;
        font-size : 24px;
        text-transform : uppercase;
        letter-spacing : 1px;
        margin : 10px 0 20px 0;
        color : #90EE90;
        }
    
        // Titre de type h2
        #content h2 {
        font-size : 16px;
        color : #90EE90;
        font-family : "Trebuchet MS", Tahoma, Verdana;
        margin : 10px;
        }
    
        #body p {
        line-height : 20px;
        word-spacing : 2px;
        padding : 0 0 0 20px;
        text-indent : 20px;
        margin : 20px 0 20px 0;
        }
    
        // Footer
        #footer {
        padding : 20px;
        border-top : 2px solid #ccff00;
        color : #ccc;
        text-align : center;
        }
    
        // Texte secondaire du footer
        #footer p {
        color : #ccff00;
        }
    