h3 {
    font-family : Century Gothic, "Trebuchet MS", Tahoma, Verdana;
    color : rgb(162, 199, 167); 
    text-align: center;
    font-size : 200%;
    padding : 15px 50px 0 10px;
    letter-spacing : -1px;
    }
    
    h5 {
        font-family : Century Gothic, "Trebuchet MS", Tahoma, Verdana;
        color : rgb(114, 116, 114); 
        text-align: center;
        font-size : 150%;
        padding : 15px 50px 0 10px;
        letter-spacing : -1px;
        }

th, td, p {
    text-align: center; 
    color : rgb(97, 97, 97);
}

i {
    cursor: pointer;
}