    // Titre de type h1 dans le header
    h1 {
        font-family : Century Gothic, "Trebuchet MS", Tahoma, Verdana;
        color : rgb(122, 167, 122); 
        text-align: center;
        font-size : 320%;
        padding : 15px 50px 0 10px;
        letter-spacing : -1px;
        border-right : 1px solid #eee;
        }
    