<div class="container">

<header>

  <!-- Entête -->
  <h1 class="h1 h1-responsive">Gestion des missions</h1>

  <!-- Bouton de déconnexion -->
<div class="row">
      <div class="col-10">
      </div>

      <div class="col-2">
      <a  class="btn-sm btn-danger pull-right" (click)="seDeconnecter()">Se déconnecter</a>
      </div>
</div>

<div class="barre"></div>

<div class="col">
</div>

 <!-- Navigation via un menu -->
<div class="row">
    <div class="col-12">
<app-menu></app-menu>
    </div>
</div>

</header>


<body>

<p>Hello ! </p>

</body>


<div class="container">
<div id="content">
 <!-- le composant défini dans la route courante va être inséré à cet endroit -->

 <!-- au regard de la configuration précédente, 
     /page1 va insérer le composant AComponent à cet emplacement
     /page2 a insérer le composant BComponent à cet emplacement
 -->
 <router-outlet></router-outlet>

</div>
</div>





<footer>
  <!-- Pied de page -->
  <p>test</p>
</footer>



</div>