 <div class="container">



 <header>
       <!--  Bandeau avec le titre de l'application + le menu -->
      <app-bandeau></app-bandeau>      
  </header> 
                
      
      
  <body>

    <h3>Bienvenue !</h3>

      <!-- Image d'accueil -->
      <img src="/assets/image/imageaccueil.jpg" width=1115 height=743>
          
      
      <div id="content">
      <!-- Router -->
      <router-outlet></router-outlet>
      </div>
       
      
  </body>
              
      
      
              
  <footer>
      <!-- Pied de page -->
  </footer>
            
              
      
              
</div>
  
  
  

    